.navClass > ul {
	background-color:#5E5D5D;
	coloe:#D8D8D8;

	font-size: 20px;
	font-famliy:sans-serif;
}

.navClass > ul > li {
	list-style-type:none;
	display:inline-block;
	padding:5px 25px;
	postion:relative;
}

.navClass > ul > li:hover {
	background-color:#383838;
}

ul.sub-menu{
	postion:absolute;
	background-color:#383838;
	list-style-type:none;
	width:169px;	
	padding-left:0px;
	margin-left:-25px;
	padding-top:5px;
	opacity:0;
}

ul.sub-menu li{
	padding-left:25px;
	padding-top:5px;
	padding-bottom:5px;
}

.navClass li:hover .sub-menu{
	opacity:1;
}

ul.sub-menu li:hover{
	color:white;
	background-color:#656565;
}
